<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.sys.dao.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.sys.entity.SysLog">
    <result column="id" property="id" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="modify_by" property="modifyBy" />
    <result column="modify_time" property="modifyTime" />
        <result column="del_flag" property="delFlag" />
        <result column="cost_time" property="costTime" />
        <result column="ip" property="ip" />
        <result column="ip_info" property="ipInfo" />
        <result column="name" property="name" />
        <result column="request_param" property="requestParam" />
        <result column="request_type" property="requestType" />
        <result column="request_url" property="requestUrl" />
        <result column="username" property="username" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        modify_by,
        modify_time,
        del_flag, cost_time, ip, ip_info, name, request_param, request_type, request_url, username
    </sql>

</mapper>
