<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.sys.dao.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.sys.entity.SysPermission">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="p_id" property="pId" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="title" property="title" />
        <result column="path" property="path" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="button_type" property="buttonType" />
        <result column="description" property="description" />
        <result column="component" property="component"/>
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        create_by,
        modify_time,
        modify_by,
        id, p_id, name, permission, title, path, level, sort, icon, type, button_type, description, enabled
    </sql>

</mapper>
