<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.sr.dao.SrAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.sr.entity.SrArea">
    <result column="id" property="id" />
        <result column="abbr_name" property="abbrName" />
        <result column="alias" property="alias" />
        <result column="center" property="center" />
        <result column="city_code" property="cityCode" />
        <result column="code" property="code" />
        <result column="level" property="level" />
        <result column="name" property="name" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        abbr_name, alias, center, city_code, code, level, name, status
    </sql>

    <select id="findAllByConditions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM cx_sr_area
        <where>
            status = 1
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="code != null">
                and code like concat(#{code},'%')
            </if>
        </where>
    </select>

</mapper>
