<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.ar.dao.ArUserMoneyRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.ar.entity.ArUserMoneyRecord">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    <result column="create_by" property="createBy" />
    <result column="modify_by" property="modifyBy" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="type" property="type" />
        <result column="module" property="module" />
        <result column="order_no" property="orderNo" />
        <result column="status" property="status" />
        <result column="way" property="way" />
        <result column="bank_id" property="bankId" />
        <result column="postage" property="postage" />
        <result column="receipt_name" property="receiptName" />
        <result column="receipt_phone" property="receiptPhone" />
        <result column="receipt_address" property="receiptAddress" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        modify_time,
        create_by,
        modify_by,
        user_id, amount, `type`, `module`, order_no, status, way, bank_id, postage, receipt_name, receipt_phone, receipt_address
    </sql>

    <select id="findOnebyContions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM cx_ar_user_money_record
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
        </where>
        limit 1
    </select>

</mapper>
