<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.ar.dao.ArUserFollowsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.ar.entity.ArUserFollows">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    <result column="create_by" property="createBy" />
    <result column="modify_by" property="modifyBy" />
        <result column="user_id" property="userId" />
        <result column="follow_id" property="followId" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        modify_time,
        create_by,
        modify_by,
        user_id, follow_id, status
    </sql>

    <select id="findAllFollowIdsByUserIdAndShieldingId" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT follow_id FROM cx_ar_user_follows
        <where>
            status = 1
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="shieldingIds != null and shieldingIds.size > 0">
                and follow_id not in
                <foreach collection="shieldingIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
