<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.db.pf.dao.PfSmsLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wind.db.pf.entity.PfSmsLog">
    <result column="id" property="id" />
        <result column="phone_num" property="phoneNum" />
        <result column="template_code" property="templateCode" />
        <result column="content" property="content" />
        <result column="send_status" property="sendStatus" />
        <result column="cur_send_time" property="curSendTime" />
        <result column="send_time" property="sendTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="out_id" property="outId" />
        <result column="err_code" property="errCode" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        phone_num, template_code, content, send_status, cur_send_time, send_time, receive_time, out_id, err_code, del_flag
    </sql>

</mapper>
